<!-- <a [routerLink]="['/products']">Products</a> |
<a [routerLink]="['/cart']">Cart</a>
<br><br>
<router-outlet></router-outlet> -->

<div class="container" id="nav_id">
    <h2>Shopping Cart</h2>
  <div class="topnav">
     <a class="active" routerLink="/products" routerLinkActive="active">Products</a>
        <a></a>
        <a></a>
        <a></a>
     <div class="topnav-right">
     <a  routerLink="/cart"> <i class="fas fa-shopping-cart"></i>Cart</a>
   </div>
   </div>  
 </div>
 <router-outlet></router-outlet>